filebeat.inputs:
- type: {{ filebeat_config.type }}
  paths: 
    - {{ filebeat_config.path }}

#output.elasticsearch:
#  hosts: {{ filebeat_config.elastic_url }}
#  username: {{ filebeat_config.elastic_username }}
#  password: {{ filebeat_config.elastic_password }}
output.logstash:
  hosts: ["192.168.4.198:5044"]
processors:
  - add_docker_metadata:
      host: "unix:///var/run/docker.sock"
  - add_host_metadata: ~
